* {
  box-sizing:border-box;
}
html {
  margin:0;
}
body {
  font-family:'Mukta Malar', sans-serif;
  font-size:18px;
  font-weight:100;
  margin:0;
  margin-top:60px;
  background:white;
  
} 
header {
  background:#379653;
  height:60px;
  position:fixed;
  z-index:1000;
  width:100%;
  top:0; 
}
a {
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration: noen;
   
}
.links {
 
  list-style: none;
  list-style-type: none;
}
.links li {
  display: inline-block;
  margin-left:20px;
}
.links > li.active {
  content:'';
  border-bottom:3px solid white;
  padding-bottom:4px;
 
}
.links >li:hover {
  text-decoration: none;
  border-bottom:3px solid #963758;
  padding-bottom:4px;
 
  
}
.container {
  padding:10px 40px;
   
  position: relative;
  margin-left:350px;
  max-width:1024px;

}
aside {
  width:350px;
  height:100vh;
  color:white;
  font-size:18px;
  position:fixed;
  left:0;
  margin-top:-10px;
  background-color:#424242;

}
 h1 {
  letter-spacing:2px;
  font-size:48px;
  font-weight:100;
  margin:0;
  line-height:40px;
}
p {
  margin:0;
}
input[type=text] {
  height:40px;
  padding:10px;
  width:100%;
  font-size:18px;
  box-shadow:0px 0px 1px #000;
}
button{
  margin-top:28px;
  background-color:#424242;
  padding:10px;
 
  width:100%;
  color:white;
  font-size:18px;
  text-transform: uppercase;
}
.flex {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow:1;
}
.item {
  align-self:flex-start;
}
.item-grow {
  flex-grow:7;
}
.flex-table {
  display:flex;
  width:100%;
 box-shadow: 1px 1px 7px rgba(0,0,0,.4);
  flex-direction:column;
  justify-content: flex-start;

}
.flex-row {
  display:flex;
  flex-direction:row;
  align-items:flex-start;

  border-bottom:2px solid #eee;
 
}
.flex-row:nth-child(n+2){
  padding:10px 20px;
}
.flex-item {
 
  font-weight:lighter;
  font-size:1.1rem;
 width:100%;
  align-self:baseline;
 
  
} 
.table-header {
  background:#eee;
  padding:30px;
  height:40px;
}

.growl-notification {
 
  opacity:0;
  top:0;
  width:100%;
  position:fixed;
  z-index:100;
  min-height:60px;
  height:30%;
  background-color:rgb(255, 240, 172);
  animation-name: example;
  animation-duration: 7s;
  font-weight:600;
  font-size:24px;
  letter-spacing: 2px;

} 
@keyframes example {
  0%   {transform:translateY(0px);opacity:0}
  10%  {transform:translateY(60px);opacity:1}
  90% {transform:translateY(60px);opacity:1}
  100%   {transform:translateY(-1000px);opacity:0;}

}